<div class="container">
    <div class="row">
        <button class="btn btn-primary" routerLink="/customerAdd">New Customer</button>
        <button class="btn btn-outline-dark" routerLink="/home">Back</button>
        <div class="col-md-12">
            <table class="table w-100">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td><span>{{customer.name}} {{customer.surname}}</span></td>
                        <td>
                            {{customer.phoneNumber}}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" routerLink="/customerDetails/{{customer.id}}">Details</button>
                            <button class="btn btn-outline-warning" routerLink="/customerEdit/{{customer.id}}">Edit</button>
                            <button class="btn btn-outline-danger" (click)="onDelete(customer.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
