<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <a routerLink="/customerList">
                <div class="card">
                    <div class="card-body">
                        Customers
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a routerLink="/customerList">
                <div class="card">
                    <div class="card-body">
                        Addresses
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a routerLink="/customerList">
                <div class="card">
                    <div class="card-body">
                        Users
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>