.card-icon {
    color: grey;
    padding: 1rem 0;
}

.card-icon i {
    font-size: 5rem;
}

.card-body p {
    font-size: 1.3rem;
}

.card-link,
.card-link:hover {
    text-decoration: none;
    color: inherit;
}
